<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Content Manager</title>

    <%= javascript_include_tag "https://identity-js.netlify.com/v1/netlify-identity-widget.js" %>

    <%# Getting the assets generated from webpack. Using a regex because of asset hashes%>
    <%= javascript_include_tag sitemap.resources.find {|resource| resource.path =~ /(react.production)/}.url%>
    <%= javascript_include_tag sitemap.resources.find {|resource| resource.path =~ /(react-dom)/}.url%>
    <%= javascript_include_tag sitemap.resources.find {|resource| resource.path =~ /(netlify-cms-app)/}.url%>

  </head>
  <body>
    <%# Getting the cms script generated from webpack. Using a regex because of asset hashes%>
    <% sitemap.resources.select {|resource| resource.path =~ /^(?!.*txt|assets)(cms).*$/}.each do |resource| %>
      <%= javascript_include_tag resource.url %>
    <%end %>
  </body>
</html>